$primary-color: deeppink;
$hover-color: black;

.pic img{
  width: 200px;
}
.pic {
  float: left;
}

.selected{
  border: 1px solid $primary-color;
}

.nav-link:hover {
  color: $hover-color;
}

.container{
  margin-top: 3rem;
}

.mini-image{
  height: 50px;
}

.part{
  float:left;
}

.message-wrapper{
  display: flex;
}

.message-wrapper + .message-wrapper {
  margin-top: 2rem;
}

.location-btn{
  display: none;
}

#map{
  width: 100%;
  height: 50vh;
  margin-bottom: 1rem;
}